[Desktop Entry]
Type=Application
Name=NewPipe
Exec=newpipe.sh --uri %u
Comment=Lightweight YouTube frontend (unofficial port)
X-Purism-FormFactor=Workstation;Mobile;
Icon=net.newpipe.NewPipe
