[Desktop Entry]
Type=Application
Name=Eclipse IDE for Eclipse Committers
Comment=Package suited for development of Eclipse itself at Eclipse.org; based on the Eclipse Platform adding PDE, Git, Marketplace Client, source code and developer documentation.
Icon=org.eclipse.Committers
Exec=eclipse %f
Terminal=false
Categories=Development;IDE;
MimeType=text/x-java;text/x-maven+xml;text/x-gradle;text/x-patch;text/x-diff;
